.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: var(--max-width);
  width: 100%;

  .links {
    display: flex;
    gap: var(--space-6);
    align-items: center;
  }

  @include mobile {
    flex-direction: column;
    gap: var(--space-6);

    .links {
      flex-direction: column;
      gap: var(--space-2);
    }
  }
}
