.Terms {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: var(--space-15);

  color: var(--color-text-primary);

  font-size: var(--font-size-5);
  font-style: normal;
  font-weight: 400;
  line-height: 1.55em;
}

.title {
  color: var(--color-text-primary);
  text-align: center;
  width: 100%;

  font-size: var(--font-size-9);
  font-style: normal;
  font-weight: 500;
  line-height: 1.22em;
  letter-spacing: -0.72px;
}
